/* #title {
  height: 60px;
} */

#title2 {
  height: 40px;
}

h1 {
  font-size: 25pt;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}

#search-icon {
  margin-left: 505;
  margin-top: 30;
}

#container2 { 
  height: 50;
  position: relative;
}

#vgSearch {
  margin: 0;
  margin-left: 100px;
  margin-top: 15;
  position: absolute;
  width: 400;
  height: 30;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* div {
  border: 1px solid grey;
} */

#linechart {
  margin-top: 10px;
}

/*---------------------MAP------------------------*/
.states {
  fill: none;
  stroke: "black";
  stroke-linejoin: round;
}

.states-choropleth {
  fill: #ccc;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

/*---------------------MAP------------------------*/

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

/* div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  background-color: green;
  width: 500px;
  height: 110px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
} */

.container {
  display: flex;
}

/* .container>div {
  flex: 1;
}
 */
/* #map {
  width: 700;
} */

#selectors {
  /* height: 450; */
  width: 500;
}

#stateselect {
  height: 160;
  width: 500;
}

#masslist {
  height: 410;
  width: 500;
  overflow: scroll;
  overflow-x: hidden;
}

/* #wordcloud {
  width: 600;
} */

#linechart {
  /*   height: 200; */
  padding-top: 20px;
  text-align: center;
}

#barchart {
  /* height: 230; */
  text-align: center;
  vertical-align: bottom;
}

/* #dropdownbox {
  height: 20;
  width: 133;
  vertical-align: top;
  float: left;
  text-align: left;
} */

#crimeSelector {
  height: 20;
  width: 150;
  vertical-align: top;
  float: right;
  text-align: center;
  /* here */
}

#dropdownbox {
  height: 20;
  width: 150;
  vertical-align: top;
  float: right;
  text-align: left;
  /* here */
}

.axis path,
.axis line {
  fill: none;
  stroke: black;

}

.axis text {
  font-family: calibri, sans serif;
  font-size: 10pt;
}

.btn {
  width: 100px;
  font-family: calibri, sans serif;
  padding: 10px;
  border: solid 1px black;
  color: white;
}

/*============== Timeline styling ==============*/

#timeline {
  font: 10pt Helvetica, sans-serif;
  fill: #000000;
  color: #000000;
  text-align: center;
}

#timeline text {
  fill: #000000;
  color: #000000;
}

#timeline svg line.track {
  stroke-opacity: 0.4;
  stroke: #000;
  stroke-width: 10px;
}

#timeline svg line.track-inset {
  stroke: #444444;
  stroke-width: 8px;
}

#timeline svg line.track-interval {
  stroke: steelblue;
  stroke-width: 8px;
}

/* this is a hidden element, changing it here won't do anything visually */
#timeline svg line.track-overlay {
  stroke: #eeeeee;
  stroke-width: 40px;
  stroke-opacity: 0;
}

#timeline svg line.track-overlay,
#timeline svg line.track,
#timeline svg line.track-inset {
  stroke-linecap: round;
}

#timeline svg #minHandle {
  fill: #057db5;
  stroke: #444444;
}

#timeline svg #maxHandle {
  fill: #28c5ff;
  stroke: #444444;
}

/*============== Dropdown list styler ==============*/

/* select {
	background: #8dd3c7;
} */


/* select option[value="Action"] {
  background: #8dd3c7;
}

select option[value="Action_Adventure"] {
  background: #ffffb3;
}

select option[value="Adventure"] {
  background: #bebada;
}

select option[value="Board_Game"] {
  background: #fb8072;
}

select option[value="Education"] {
  background: #80b1d3;
}

select option[value="Fighting"] {
  background: #fdb462;
}

select option[value="Misc"] {
  background: #b3de69;
}

select option[value="MMO"] {
  background: #fccde5;
}

select option[value="Music"] {
  background: #d9d9d9;
}

select option[value="Party"] {
  background: #bc80bd;
}

select option[value="Platform"] {
  background: #ccebc5;
}

select option[value="Puzzle"] {
  background: #ffed6f;
}

select option[value="Racing"] {
  background: #66c2a5;
}

select option[value="Role_Playing"] {
  background: #fc8d62;
}

select option[value="Sandbox"] {
  background: #8da0cb;
}

select option[value="Shooter"] {
  background: #e78ac3;
}

select option[value="Simulation"] {
  background: #a6d854;
}

select option[value="Sports"] {
  background: #ffd92f;
}

select option[value="Strategy"] {
  background: #e5c494;
}

select option[value="Visual_Novel"] {
  background: #b3b3b3;
} */

/*VIDEO GAME SEARCH BOX*/
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

  .topnav a,
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* cloasable squares */
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  width: 498;
  margin-top: -1px;
  /* Prevent double borders */
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  /* color: black; */
  display: block;
  position: relative;
}

li.game_button {
  border: 2px solid rgb(184, 3, 3);
  width: 498;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  /* Prevent double borders */
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(253, 124, 124);
  display: block;
  position: relative;
}

li.game_button:hover {
  background-color: rgb(219, 148, 148);
}

ul li:hover {
  background-color: #eee;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #bbb;
}

/* LINE CHART */

.line {
  fill: none;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  stroke: #fff;
  z-index: 2;
}


.focus circle {
  fill: none;
  stroke: steelblue;
}

/*Tool tip*/

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 20px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}