body{
    background-color: #101010 !important; /* overrides bootstrap setting */
}

.container {
    /** /
    margin-right: 1px !important;
    margin-left: 1px !important;
    /**/
    padding: 0px !important;
}

@media (min-width: 1200px){
    .container {
        max-width: 98%;
    }
}

#title{
	width:23%;
	font: 18px Helvetica, sans-serif;
    font-weight: bold;
	
	margin:auto;
	padding:5px;
	color:white;
	text-align: center;
}

#first-row {
    padding-bottom: 0px;
}


#col1{
    padding-left: 0px;
}

#col3{
    padding-right: 0px;
}

#col4{
    padding-left: 0px;
}

#col6{
    padding-right: 0px;
}


/**/
.col-4 {
    background-clip: content-box;
    background-color: #111111;
    box-shadow: 0 0 1px 1px #222222;
}
/**/

/*div {
    border-radius: 25px;
}*/

div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 120px;                    
    height: 30px;                   
    padding: 2px;               
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;      
    background: #111111; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;
    overflow: hidden;           
}

div.tooltip2 {   
    position: absolute;         
    text-align: center;         
    width: 220px;                    
    height: 30px;                   
    padding: 2px;               
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;      
    background: #111111; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;
    overflow: hidden;           
}


div.tip {   
    position: absolute;         
    text-align: center;         
    width: 80px;                    
    height: 30px;                   
    padding: 2px;               
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;      
    background: #111111; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

/*============== Scatterplot styling ==============*/
#sale-title{
    text-align: center;
    /** /background-color: #ffffff; /**/
}

#sale-title line{
    stroke: #eeeeee;
    stroke-width: 2;
}

#sale-title path{
    stroke: #eeeeee;
    stroke-width: 2;
}

#sale-title text{
    fill: #eeeeee;
}
/*
.bubble {
    fill: #3fbcff;
    stroke: #325e82;
}*/

.tick{
    font: 12px Helvetica, sans-serif;
    font-weight: bold;
  }

/*============== Heatmap styling ==============*/

#heatmap {
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    fill: #eeeeee;
    color: #eeeeee;
    text-align: center;
    /** /background-color: #ff0000; /**/
}

/*============== Radarchart styling ==============*/

#radarchart1 {
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    fill: #eeeeee;
}
#radarchart2 {
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    fill: #eeeeee;
}
/*============== Timeline styling ==============*/

#timeline {
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    fill: #eeeeee;
    color: #eeeeee;
}

#timeline text{
    fill: #eeeeee;
    color: #eeeeee;
}   

#timeline svg line.track {
    stroke-opacity: 0.4;
    stroke: #000;
    stroke-width: 10px;
}
#timeline svg line.track-inset {
    stroke: #444444;
    stroke-width: 8px;
}

#timeline svg line.track-interval {
    stroke: steelblue;
    stroke-width: 8px;
}

/* this is a hidden element, changing it here won't do anything visually */
#timeline svg line.track-overlay {
    stroke: #eeeeee;
    stroke-width: 40px;
    stroke-opacity: 0;
}

#timeline svg line.track-overlay, #timeline svg line.track, #timeline svg line.track-inset {
    stroke-linecap: round;
}

#timeline svg #minHandle {
    fill: #057db5;
    stroke: #444444;
}

#timeline svg #maxHandle {
    fill: #28c5ff;
    stroke: #444444;
}

/*============== Timeline styling ==============*/
#treemap {
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
}

#treemap text{
    fill: #eeeeee;
    color: #eeeeee;
}

.node {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

/*============== Linechart styling ==============*/

#linechart .title{
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    fill: #ffffff;
}

#linechart .axisLabel{
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    fill: #ffffff;
}

#linechart svg .xAxis {
	font: 12px Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;
}

#linechart svg .yAxis {
	font: 12px Helvetica, sans-serif;
    font-weight: bold;
    color: #eeeeee;
}

/*============== Treemap styling ==============*/
#treemap {
    text-align: center;
}

#treemap text{
    color: #ffffff;
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
}

#treemap .label{
    color: #111111;
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
}

/*============== Radarchart styling ==============*/

#radarchart1 {
    text-align: center;
}

#radarchart2 {
    text-align: center;
}